.site-header {}

.site-header.bg-transparent {
    background-color: transparent;
    color: var(--font-color);
}

.site-header.bg-dark {
    background-color: black;
    color: var(--font-color);
}

.site-header.fixed-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.header-main-block {
    height: 97px;
}

.container-fluid {
    padding: 0 60px;
}

@media (min-width: 1199.98px) {
    .site-header {
        display: block;
    }
}

.logo.site-logo {}

.logo.site-logo a {
    text-decoration: none;
    color: var(--font-color);
    text-transform: uppercase;
    font-weight: bolder;
}

.header-menu .menu .menu-item a,
.header-menu .menu .sub-menu .menu-item a {
    text-decoration: none;
    color: var(--font-color);
    text-transform: uppercase;
    height: 75px;
    transition: 0.3s all ease-in;
}

.bar-icon {
    cursor: pointer;
}

.bar-icon:hover {
    color: var(--hover-color);
    transition: .5s all;
}

.header-menu .menu {
    display: flex;
    height: 90px;
}

.header-menu .menu {
    list-style: none;
    display: flex;
    padding: 0;
    align-items: center;
    transition: 0.3s all;
    margin: 0;
}

.header-menu .menu .menu-item {
    width: max-content;
    padding: 0 10px;
    color: var(--font-color);
    font-size: var(--header-menu-font-size);
    transition: 0.3s all;
    height: 28px;
}

.header-menu .menu .menu-item a:hover,
.header-menu .menu .menu-item:hover {
    color: var(--header-menu-hover-color);
    transition: 0.3s all;
}

.header-menu .menu .current-menu-item.menu-item>a span {
    display: block;
    z-index: 100000000000000;
    position: relative;
    transition: 0.3s all;
}

.header-menu .menu .current-menu-item.menu-item>a span:hover {
    color: var(--font-color);
    transition: 0.3s all;
}

.header-menu .menu .current-menu-item.menu-item>a::after {
    content: "";
    -webkit-box-shadow: inset 0 -9px 0 0 var(--header-menu-border-color);
    /* box-shadow: inset 0 -9px 0 0; */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 138%;
    height: 9px;
    margin-left: -8px;
    transition: 0.3s all;
}

.header-menu .menu .menu-item a {
    position: relative;
    transition: 0.3s all ease-in;
}

.header-menu .menu .sub-menu {
    list-style: none;
    padding: 0;
    position: absolute;
    border: 1px solid gray;
    min-width: 173px;
    margin-top: 5px;
    display: none;
    transition: 0.3s all ease-in-out;
}

.header-menu .menu .sub-menu .menu-item,
.header-menu .menu .sub-menu .sub-menu-item {
    border-bottom: 1px solid gray;
    width: 100%;
    padding: 5px 5px 5px 15px;
    background-color: var(--header-bg);
    color: var(--font-color);
    font-size: var(--header-menu-font-size);
}

.header-menu .menu .menu-item:hover .sub-menu {
    display: block;
    transition: 0.3s all ease-in;
}

.sub-menu:hover {
    display: block;
    transition: 0.3s all ease-in;
}

.side-menu {
    width: 450px;
    height: 100%;
    border: 1px solid black;
    position: fixed;
    z-index: 10000;
    background: pink;
    top: 0;
    padding: 0 50px;
    background: var(--header-bg);
    color: var(--font-color);
    font-size: 0.875em;
    font-weight: 300;
    overflow: hidden;
}

.side-menu-items {
    overflow-x: hidden;
    overflow-y: auto;
    height: 76vh;
    padding-right: 26px;
    position: absolute;
    left: 50px;
    right: -18px;
    bottom: var(--side-menu-footer-height);
}

.side-menu .side-menu-item {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.side-menu .side-menu-close {}

.side-menu .side-menu-close i {
    font-size: 35px;
    color: white;
    cursor: pointer;
}

.side-menu .side-menu-item .widget {
    margin-bottom: 15px;
}

.side-menu .side-menu-item .widget .widget-title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 29px;
}

.side-menu .side-menu-item .widget.media-gallery .widget-title {
    padding: 0px 0 20px 0;
}

.widget {
    margin: 0 0 1em;
    width: 100%;
}

#gallery-1 {
    margin: auto;
}

#gallery-1 .gallery-item {
    float: left;
    margin-top: 10px;
    text-align: center;
    width: 33%;
}

#gallery-1 img {
    border: 2px solid #cfcfcf;
    width: 100%;
}

#gallery-1 .gallery-caption {
    margin-left: 0;
}

.side-menu-item-menu {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 40px;
}

.side-menu-item-menu li {
    list-style: none;
    border-bottom: 1px solid #80808099;
    width: 100%;
    padding: 16px 0;
}

.side-menu-item-menu li a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 16px;
}

.side-menu-item-menu li a i {
    margin-right: 15px;
}

.side-menu-footer {
    width: var(--side-menu-width);
    position: fixed;
    height: var(--side-menu-footer-height);
    background-color: var(--header-bg);
    left: 0;
    bottom: 0;
}

.contact-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 25px 0;
}

.side-menu-footer .copyright {
    position: absolute;
    bottom: 30px;
    left: 50px;
    right: 50px;
    font-size: 0.750em;
    text-align: center;
}

.side-menu-footer .bg-word {
    position: absolute;
    left: -0.1em;
    bottom: 0;
    font-size: 170px;
    font-weight: bold;
    line-height: 0.73;
    color: black;
}

/* see gallery_shortcode() in wp-includes/media.php */

@media only screen and (max-width: 767px) {
    .brand {
        width: 100%;
    }

    .container-fluid {
        padding: 0 20px;
    }

    .brand-item {
        display: flex !important;
        flex-direction: row-reverse;
        justify-content: space-between;
        height: 100px;
        transition: 0.6s all;
        width: 94vw;
    }

    .side-menu {
        padding: 0 21px;
    }

    .side-menu-items {
        left: 24px;
    }

    .header-menu {
        position: fixed;
        right: 0;
        width: 169px;
        top: 97px;
        height: 100vh;
        background-color: var(--header-bg);
    }

    .header-menu .menu {
        list-style: none;
        display: flex;
        padding: 0;
        align-items: stretch;
        transition: 0.3s all;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-start;
    }

    .header-menu .menu .menu-item {
        width: 100%;
        padding: 14px 14px;
        height: auto;
    }

    .header-menu .menu .sub-menu {
        position: relative;
        border: none;
        transition: 0.3s all;
    }

    .header-menu .menu .menu-item .sub-menu .sub-menu-item {
        border: none;
        color: var(--header-sub-menu-color);
    }
}